Site (existant) : http://www.snackdelagare.fr

Site (local storage) :

GitHub :https://github.com/Walt38/Snackdelagare

Excalidraw : https://excalidraw.com/#room=f75a1d9d0e5c27973996,sXL3L8ZcvHAaRfW32kWyXg

Drive Google : https://drive.google.com/drive/folders/1wlj1DsMLjRsOuotgMJneptxYqaFTXQBZ?usp=drive_link

Facebook : https://www.facebook.com/profile.php?id=100038549299473

Figma : https://www.figma.com/files/team/1321465535022040049/project/265736446/Snack-de-la-gare?fuid=1321465532954306970

