.image-container {
    position: relative;
    width: 100vw;
}

.image-container img {
    width: 100vw;
    height: auto;
}

.overlay-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 2rem; /* Ajustement pour l’adapter aux petits écrans */
    font-weight: 400;
    font-family: 'JejuHallasan-Regular';
    color: black;
    text-align: center;
}

/* Container for the form */
.login-container {
    background-color: transparent;
    border: 5px solid #16a085;
    width: 300px;
    padding: 20px;
    margin: 0 auto;
    text-align: center;
    font-family: 'Roboto', sans-serif;
}

/* Form title */
.login-container h2 {
    color: #E6D1B4;
    font-size: 1.5rem;
    margin-bottom: 20px;
}

/* Form labels */
.login-container label {
    display: block;
    color: #E6D1B4;
    font-weight: bold;
    margin: 15px 0 5px;
}

/* Form inputs */
.login-container input[type="text"],
.login-container input[type="password"] {
    width: 100%;
    padding: 10px;
    font-size: 1rem;
    border: none;
    border-bottom: 2px solid #16a085;
    background-color: #0F2C33;
    color: #fff;
    margin-bottom: 20px;
}

/* Submit button */
.login-container button {
    background-color: #16a085;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 1rem;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
}

.login-container button:hover {
    background-color: #13876b;
}