.image-container {
    position: relative;
    width: 100vw;
}

.image-container img {
    width: 100vw;
    height: auto;
}

.overlay-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 2rem;
    font-weight: 400;
    font-family: 'JejuHallasan-Regular';
    color: black;
    text-align: center;
}

.banner {
    background-color: #16a085;
    height: auto;
    color: #0F2C33;
    padding: 20px;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    clip-path: polygon(18% 6%, 60% 0, 81% 5%, 81% 100%, 38% 96%, 18% 100%);

}
/* Responsive */
@media (max-width: 768px) {
    .banner {
        width: 95vw;
        clip-path: polygon(0 3%, 70% 0%, 100% 3%, 100% 100%, 20% 97%, 0 100%);
    }

    .banner p {
        font-size: 1rem;
    }
}


.banner p {
    margin: 40px 0;
    font-size: 2rem;
}

.banner p strong {
    font-weight: bold;
}

.adresse p{
    color: #E6D1B4;
    font-family: 'JejuHallasan-Regular';
    font-size: 2rem;
}
@media (max-width: 768px) {

    .overlay-text {
        font-size: 1.2rem;
    }

}