/* Réinitialisation globale */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
}

/* Fontes personnalisées */
@font-face {
    font-family: 'JejuHallasan-Regular';
    src: url(/Asset/font/jejuhallasan/JejuHallasan-Regular.ttf);
}

body {
    background-color: #0F2C33;
}

/* Navbar */
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    background-color: #0F2C33;
}
.navbar-toggler {
    background-color: #EFA00F;
    border: none;
}
.nav-link {
    color: #E6D1B4;
    font-size: 1.3rem;
    margin: 0 10px;
    font-family: 'JejuHallasan-Regular';
}
.nav-link:hover {
    color: #EFA00F;
}

/* Logo */
.logo img {
    width: 15rem;
    height: auto;
}

/* Section principale */
.burger {
    margin-top: 10vh;
    width: 100vw;
    height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.burgeur {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.bloc_num {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 3rem;
}
.numero a {
    text-decoration: none;
    font-family: "Jost", sans-serif;
    font-size: 11rem;
    font-weight: 900;
    line-height: 3rem;
    color: #EFA00F;
    margin-bottom: 100px;
}
h1 {
    font-weight: 400;
    font-size: 7rem;
    color: #E6D1B4;
    font-family: 'JejuHallasan-Regular';
    margin-bottom: 50px;
}

/* Responsive */
@media (max-width: 768px) {
    .burger {
        height: 40vh;
    }
    .numero a {
        font-size: 2.5rem;
        line-height: 3rem;
    }
    h1 {
        font-size: 2rem;
    }
}

@media (max-width: 480px) {
    .burger {
        height: 20vh;
    }
    .numero a {
        font-size: 2rem;
        line-height: 2.5rem;
    }
    h1 {
        font-size: 1.8rem;
    }
}

@media (min-width: 600px) and (max-width: 1024px) {
    .bloc_num {
        flex-direction: column;
        text-align: center;
        margin-top: 3rem;
    }

    .numero a {
        font-size: 3.5rem;
        line-height: 4rem;
        word-break: break-word;
        text-align: center;
        display: inline-block;
        margin: 0 auto;
    }

    h1 {
        font-size: 2.5rem;
    }

    .produit {
        font-size: 1.8rem;
    }

    .pres p {
        font-size: 1rem;
    }

    .im1 {
        width: 80px;
        height: 80px;
    }
    .overlay-text {
        font-size: 1.2rem;
    }
    .specialite {
        margin-top: 100px;
    }
}
